#Dicas {
    position: relative;
    background-image: url(img/Dicas/img-fundo.jpg);
    background-size: cover; 
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 320vh;
    margin: 0;
    padding: 0;
    justify-items: center;
    align-items: center;
    z-index: 0;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}
#Dicas .methods{
    position: relative;
    z-index: 2;
}

.sopreposicao_dicas {
    background-color:  rgba(228, 211, 161, 0.82);
    position: absolute;
    width: 100vw;
    height: 320vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

.pg-Dicas .card_header_curso_1 {
    padding-bottom: 26px;
    display: flex;
    gap: 16px;
}
.pg-Dicas .header-text{
    gap: 16px;
}
.pg-Dicas .card-conteudo {
    padding-top: 16px;
    color: #49454F;
}


.pg-Dicas .card_header_curso_1 img {
    width: 40px;
}

.pg-Dicas h2 {
    text-align: center;
    color: #0C362D;
    font-weight: bold;
    font-size: 40px;
    padding: 45px;
}
.pg-Dicas .tags {
    text-align: center;
    color: #222;
    font-size: 16px;
}
.pg-Dicas h3 {
    color: #222;
    font-weight: bold;
    font-size: 16px;
}
.pg-Dicas h1 {
    padding-top: 120px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #222;
}

.pg-Dicas .subtitle {
    text-align: center;
    margin-top: -10px;
    font-weight: bolder;
    font-size: 20px;
    padding: 25px;
    font-weight: 600;
    color: #0C362D;
}

.section {
    width: 80%;
    margin: 90px auto;
}

.pg-Dicas .divider {
    width: 70%;
    height: 10px;
    background-color: #333;
    margin: 30px auto 10px auto;
    border-radius: 5px;
}

.pg-Dicas .card-container {
    display: flex;
    justify-content: center;
    gap: 121px;
    flex-wrap: wrap;
    
}

.pg-Dicas .card {
    height: 414px;
    width: 344px;
    background-color: #F1E9D4;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.pg-Dicas .card-book {
    height: 418px;
    width: 344px;
    background-color: #F1E9D4;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.pg-Dicas .card-book .main-image{
    height: 188px;
    width: 126px;
}
.pg-Dicas .card_header_curso_1 .book-image {
    justify-items: center;
}

.pg-Dicas .card .main-image {
    width: 100%;
    border-radius: 6px;
}

.pg-Dicas .big-card {
    justify-content: center;
    width: 50rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    padding: 70px 60px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    gap: 40px;
    border: 0.5px solid #0000008e;
    margin-bottom: 100px;
}

.big-card .regrinha{
    width: 40%;
    border-radius: 8px;
}

.big-card .kakebofinance{
    width: 40%;
    border-radius: 8px;
}

.pg-Dicas .big-card .text {
    width: 40%;
    line-height: 1.2;
    color: #49454F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.big-card h3{
    font-size: 32px;
    font-weight: normal;
    color: #000000e7;
    margin-bottom: 15px;
}
.pg-Dicas a {
    margin-top: 15px;
    width: fit-content;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    border: 0.7px solid #00000073;
    background-color: #9995958a;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

.pg-Dicas a:hover {
    background-color: #999595c0;
}
.icone-link{
    display: flex;
    width: 30px;
    margin-bottom: 10px;
    cursor: pointer;
 
}